{{!-- <div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">note down your ideas</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add your Ideas</a>
</div> --}}

<header id="showcase">
  <div class="showcase-content">
    <h1 class="l-heading">
      Note down your <span class="text-primary1">Ideas</span>
    </h1>
    <p class="lead">
      Everything Begins With An <span class="text-primary1"><b>Idea.</b></span>
    </p>
    <a href="/users/register" class="btn-main"> Sign Up</a>
    {{!-- <a href="#what" class="btn-info"> Read more</a> --}}

  </div>
</header>
{{!-- from  hotel website--}}
<section id="features">
  <div class="box bg-light">
    <i class="fas fa-cloud fa-3x"></i>
    <h3>Cloud</h3>
    <p>Store your ideas on cloud </p>
  </div>
  <div class="box bg-primary1">
    <i class="fas fa-shield-alt fa-3x"></i>
    <h3>Secure</h3>
    <p>secure authentication</p>
  </div>
  <div class="box bg-light">
    <i class="fas fa-globe-americas fa-3x"></i>
    <h3>Any where</h3>
    <p>access your idea anywhere </p>
  </div>
</section>

{{!-- jfk section --}}
<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2>qutoes on ideas by <span class="text-primary1">John F. Kennedy</span> </h2>
    <p>
      <section class="jfk-quotes"> A man may die, nations may rise and fall, but an <span
          class="text-primary1">idea</span> lives on. <span class="text-primary1">Ideas</span> have endurance
        without death.</section>
      <span class="text-primary1 py-3">– John F. Kennedy</span>
    </p>
    <a href="/about" class="btn btn-light">Read More</a>
  </div>
</section>

<!-- Footer -->
<footer id="main-footer" class="bg-dark text-center py-1">
  <div class="footer-container">
    <p>Copyright &copy; 2019, Ajax Corp, All Rights Reserved</p>
  </div>
</footer>