.box {
  float: none;
  width: 100%;
}

#home-info .info-img {
  float: none;
  width: 100%;
}
#home-info .info-content {
  float: left;
  width: 100%;
}
/* Smartphones */
@media (max-width: 500px) {
  #showcase .showcase-content {
    top: 110px;
  }

  .jfk-quotes {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  #home-info .info-img {
    background: url('../img/JFK2.jpg') no-repeat;
  }
}

@media (max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -5.3rem;
    top: 140px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}
