.logo {
  width: 130px;
  margin: auto;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}

.text-primary1 {
  color: #07889b;
}

.bg-primary1 {
  background: #07889b;
  color: #333;
}
.bg-light {
  background: #94dee7;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.btn-main {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.btn-main:hover {
  background: #7ab436;
}
btn-dark {
  background: #333;
  color: #fff;
}

.btn-delete {
  display: inline-block;
  color: #fff;
  text-align: center;
  background: #d75468;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
}
.btn-main:hover {
  background: #d23f55;
}

.btn-edit {
  display: inline-block;
  text-align: center;

  color: #fff;
  background: #6eb8a0;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
}
.btn-main:hover {
  background: #4aa789;
}

/* Utility classes */
.main-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 2rem;
}

.text-center {
  text-align: center;
}

/* #navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
} */

/* #navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
} */

/* showcase */
#showcase {
  background: url('../img/notes_with_computer.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  /* overlay */
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* section: what we do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: who we are */
#who {
  display: flex;
}
#who div {
  flex: 1;
}
#who .who-img {
  /* background: url('../') */
}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* JFK */

#home-info {
  height: 450px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/JFK1.jpg') no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Footer */

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.jfk-quotes {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  line-height: 1.6;
}

.login-bottomtxt {
  font-size: 0.8rem;
}
